@import "navbar.css";

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: black;
  }

  .sidebar-content {
    margin-top: calc(var(--nav-size) + 20px);
  }

    .sidebar-item {
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .sidebar-item:hover {
      background-color: #2e2e2e;
    }

    .sidebar-item span {
      color: white;
    }